.side__nav-container {
  border-right: solid black;
  flex-direction: column;
  padding: 3rem 4rem;
  flex: 0 0 20%;
  /* background-color: orange; */
}

.app__name{
  color:#fff;
  margin-bottom: 2rem;
  font-size: clamp(1.5rem, 2vw, 3rem);
}

.fa-search:before {
  font-size: 1rem;
  margin-right: 0.5rem;
  color: #fff;
  background: #a42618;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.search__icon--con {
  display: flex;
  align-content: center;
}

.search__label {
  font-size: 2rem;
  color: #333;
  display: flex;
  align-content: center;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  /* height: 1em; */
  overflow: visible;
  vertical-align: -0.125em;
}

.watchlist-con {
  display: flex;
  align-content: center;
}

.watchlist__lable {
  font-size: 2rem;
  display: flex;
  align-content: center;
}

.watchlist {
  font-size: 2rem;
}

/* .fa-heart {
  color: #a42618;
  font-size: 2rem;
} */

.fa-heart:before {
  font-size: 1rem;
  margin-right: 0.5rem;
  color: #fff;
  background: #a42618;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
